<div class="contextual">
  <% if @test_plan_given %>
    <%= link_to l(:button_list),
                project_test_plan_path(id: @test_plan.id),
                class: 'icon icon-list' %>
    <%= link_to l(:button_edit), edit_project_test_plan_test_case_path,
                :onclick => 'showAndScrollTo("update", "issue_notes"); return false;',
                :class => 'icon icon-edit', :accesskey => accesskey(:edit) if @test_case.editable? %>
    <%= link_to l(:button_delete), project_test_plan_test_case_path,
                :data => {:confirm => test_case_destroy_confirmation_message(@test_case)},
                :method => :delete, :class => 'icon icon-del' if @test_case.deletable? %>
  <% else %>
    <%= link_to l(:button_list),
                project_test_cases_path,
                class: 'icon icon-list' %>
    <%= link_to l(:button_edit), edit_project_test_case_path,
                :onclick => 'showAndScrollTo("update", "issue_notes"); return false;',
                :class => 'icon icon-edit', :accesskey => accesskey(:edit) if @test_case.editable? %>
    <%= link_to l(:button_delete), project_test_case_path,
                :data => {:confirm => test_case_destroy_confirmation_message(@test_case)},
                :method => :delete, :class => 'icon icon-del' if @test_case.deletable? %>
  <% end %>
</div>
