<% if @project %>
  <% if @test_plan_given %>
    <% if @test_plan %>
      <%= link_to l(:label_back_to_lists), project_test_plan_test_cases_path %>
    <% else %>
      <%= link_to l(:label_back_to_lists), project_test_plans_path %>
    <% end %>
  <% else %>
    <%= link_to l(:label_back_to_lists), project_test_cases_path %>
  <% end %>
<% else %>
  <%= link_to l(:label_back_to_lists), projects_path %>
<% end %>

<% content_for :sidebar do %>
  <%= render :partial => 'test_cases/sidebar' %>
<% end %>
