<h2><%=l(:label_test_case_statistics)%></h2>

<% if @test_cases.empty? %>
  <p class="nodata"><%= l(:label_no_data) %></p>
<% else %>
  <div class="autoscroll">
    <table id="statistics" class="list issues odd-even sort-by-id sort-desc">
      <thead>
        <tr>
          <th>#</th>
          <th><%=l(:field_user)%></th>
          <th><%=l(:field_count_test_cases)%></th>
          <th><%=l(:field_assigned_rate)%></th>
          <th><%=l(:field_count_not_executed)%></th>
          <th><%=l(:field_count_succeeded)%></th>
          <th><%=l(:field_count_failed)%></th>
          <th><%=l(:field_progress_rate)%></th>
          <th><%=l(:field_detected_bug)%></th>
          <th><%=l(:field_remained_bug)%></th>
          <th><%=l(:field_fixed_rate)%></th>
        </tr>
      </thead>
      <tbody>
        <% @test_cases.each do |test_case| %>
        <tr>
          <td class="id"><%= link_to test_case.user.id, "/users/#{test_case.user.id}" %></td>
          <td class="user"><%= link_to test_case.user.name, "/users/#{test_case.user.id}" %></td>
          <td class="test_cases"><%= test_case.count_assigned_test_cases %></td>
          <td class="assigned_rate">
            <% if test_case.count_test_cases > 0 %>
              <%= ((test_case.count_assigned_test_cases / test_case.count_test_cases.to_f) * 100).round %>
            <% else %>
              -
            <% end %>
          </td>
          <td class="count_not_executed"><%= test_case.count_not_executed %></td>
          <td class="count_succeeded"><%= test_case.count_succeeded %></td>
          <td class="count_failed"><%= test_case.count_failed %></td>
          <td class="progress_rate">
            <% if test_case.count_assigned_test_cases > 0 %>
              <%= (((test_case.count_succeeded + test_case.count_failed) / test_case.count_assigned_test_cases.to_f) * 100).round %>
            <% else %>
              -
            <% end %>
          </td>
          <td class="detected_bug"><%= test_case.detected_bug %></td>
          <td class="remained_bug"><%= test_case.remained_bug %></td>
          <td class="fixed_rate">
            <% if test_case.detected_bug > 0 %>
              <%= ((test_case.fixed_bug / test_case.detected_bug.to_f) * 100).round %>
            <% else %>
              -
            <% end %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>

<% content_for :sidebar do %>
  <%= render :partial => 'test_cases/sidebar' %>
<% end %>
