<%= render :partial => 'action_menu', :locals => {:project_id => @project.name } %>

<h2 class="inline-flex"><%= breadcrumb %>#<%= @test_plan.id %> <%= @test_plan.name %></h2>

<div class="issue details">
  <div class="subject">
    <div>
      <h3><%= @test_plan.name %></h3>
    </div>
  </div>
  <div class="attributes">
    <div class="splitcontent">
      <div class="splitcontentleft">
        <div class="status attribute">
          <div class="label"><%=l(:field_status)%></div>
          <div id="status" class="value"><%= @test_plan.issue_status.name if @test_plan.issue_status %></div>
        </div>
        <div class="estimated-bug attribute">
          <div class="label"><%=l(:field_estimated_bug)%></div>
          <div id="estimated_bug" class="value"><%= @test_plan.estimated_bug %></div>
        </div>
        <div class="assigned-to attribute">
          <div class="label"><%=l(:field_user)%></div>
          <div id="user" class="value"><%= @test_plan.user.name if @test_plan.user %></div>
        </div>
      </div>
      <div class="splitcontentleft">
        <div class="start-date attribute">
          <div class="label"><%=l(:field_begin_date)%></div>
          <div id="begin_date" class="value"><%= yyyymmdd_date(@test_plan.begin_date) %></div>
        </div>
        <div class="end-date attribute">
          <div class="label"><%=l(:field_end_date)%></div>
          <div id="end_date" class="value"><%= yyyymmdd_date(@test_plan.end_date) %></div>
        </div>
      </div>
    </div>
  </div>
  <div id="relations">
    <div class="contextual">
      <%= toggle_link l(:label_added), 'assign-test-case-form', { focus: 'test_case_id' } %>
    </div>
    <p><strong><%=l(:label_test_cases)%></strong></p>
    <%= form_for @test_case_test_plan, {
        remote: false,
        url: "#{project_test_plan_path}/assign_test_case",
        method: :post,
        html: {id: 'assign-test-case-form', style: 'display: none;'}
        } do |f| %>
      <%= render :partial => 'test_case_assignment', :locals => {:form => f}%>
    <% end %>
  </div>
</div>

<div id="test_case_tree">
  <div class="contextual">
    <%= link_to l(:label_test_case_new), new_project_test_plan_test_case_path(test_plan_id: @test_plan.id),
        class: 'icon icon-add' %>
  </div>
</div>

<div>
  <p><strong><%=l(:label_related_test_cases)%></strong></p>
<% if @test_cases.empty? %>
  <p class="nodata"><%= l(:label_no_data) %></p>
<% else %>
  <%= render_query_totals(@query) %>
  <% query_options = nil unless defined?(query_options) %>
  <% query_options ||= {} %>

  <%= form_tag({}, :data => {:cm_url => project_test_plan_show_context_menu_path(test_plan_id: @test_plan.id)}) do -%>
    <%= hidden_field_tag 'back_url', url_for(:params => request.query_parameters), :id => nil %>
    <%= query_columns_hidden_tags(@query) %>
    <div class="autoscroll">
      <table id="related_test_cases" class="list test_case odd-even <%= @query.css_classes %>">
        <thead>
          <tr>
            <th class="checkbox hide-when-print">
              <%= check_box_tag 'check_all', '', false, :class => 'toggle-selection',
              :title => "#{l(:button_check_all)}/#{l(:button_uncheck_all)}" %>
            </th>
            <% @query.inline_columns.each do |column| %>
              <%= column_header(@query, column, query_options) %>
            <% end %>
            <th class="buttons"></th>
          </tr>
        </thead>
        <tbody>
          <% @test_cases.each do |test_case| -%>
            <tr id="test-case-<%= test_case.id %>" class="hascontextmenu <%= cycle('odd', 'even') %>">
              <td class="checkbox hide-when-print"><%= check_box_tag("ids[]", test_case.id, false, :id => nil) %></td>
              <% @query.inline_columns.each do |column| %>
                <% if [:scenario, :expected, :name].include?(column.css_classes) %>
                  <%= content_tag('td', column_content(column, test_case), :class => column.css_classes, :style => "text-align: left;") %>
                <% else %>
                  <%= content_tag('td', column_content(column, test_case), :class => column.css_classes) %>
                <% end %>
              <% end %>
              <td class="buttons"><%= link_to_context_menu %></td>
            </tr>
          <% end -%>
        </tbody>
      </table>
      <span class="pagination"><%= pagination_links_full @test_case_pages, @test_case_count %></span>
    </div>
  <% end -%>
<% end %>
</div>

<% content_for :sidebar do %>
  <%= render :partial => 'test_plans/sidebar' %>
<% end %>

<%= context_menu %>
